<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Version" value="1.08"/>
    <add key="FontFamily" value="Verdana"/>
    <add key="FontSize" value="8,25"/>
    <add key="FontStyle" value="1"/>
    <add key="LocalResourcesPath" value="c:/temp/MedicalChart/Resources"/>
    <add key="RecordSizeH1" value="20"/>
    <add key="RecordBackColor" value="Azure"/>
    <add key="RecordReadOnlyBackColor" value="Gray"/>
    <add key="RecordCurrentEditColor" value="Yellow"/>
    <add key="RecordOutRangeColor" value="Red"/>
		<add key="RecordPatientControlBorderColor" value="Orange"/>
		<add key="RecordPatientControlBorderWidth" value="2"/>
  </appSettings>
</configuration>
